@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
    background-color: rgb(56, 108, 185);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: rgb(109, 192, 218);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: rgb(109, 192, 218);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: rgb(6, 3, 189);
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: rgb(36, 167, 210);
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(15, 98, 171);
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: rgb(60, 137, 208);
    background-color: rgb(116, 204, 226) ;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: rgb(60, 134, 110);
    transform: scale(1.1);
}
.social-icons a{
    color: rgb(13, 165, 242);
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(107, 162, 240);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 25%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.7s ease;
}
.icon{
    color: rgb(56, 155, 208);
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: rgb(54, 91, 240);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: rgb(74, 102, 155);
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: rgb(21, 153, 171);
    border: 1px solid rgb(12, 88, 119);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width: 100%;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: rgb(0, 102, 255);
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: rgb(58, 122, 199) ;
}
.more-details:hover{
    color:  rgb(47, 6, 179);
}
.contact .icon{
    font-size: 4.5em;
}
.contact .info h3{
    color: rgb(38, 83, 197);
}
.contact .info p{
    font-size: 1.5em;
}
.footer{
    background-color: rgb(56, 108, 185);
    color:white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color:rgb(109, 192, 218);
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(89, 116, 225); 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(46, 8, 149); 
}
.up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(23, 123, 156);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgb(48, 109, 207);

}